name: Continuous Integration

on:
    push:
        branches:
            - main
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true

jobs:
    Linting:
        name: Linting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/eslint.json"
            - name: Use Node.js v20
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 20
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              uses: ./scripts/yarnCache
            - name: Run ESLint
              run: yarn lint -- --fix=false

    Building:
        name: Compile source code
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Add problem matcher
              run: echo "::add-matcher::.github/problemMatchers/tsc.json"
            - name: Use Node.js v20
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 20
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              uses: ./scripts/yarnCache
            - name: Compile Projects
              run: yarn build
            - name: Upload tagscript dist folders to artifacts
              uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4
              with:
                  name: dist
                  path: packages/tagscript/dist/
                  if-no-files-found: error

    Testing:
        name: Unit Tests
        runs-on: ubuntu-latest
        needs: Building
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Download tagscript dist folder from artifacts
              uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
              with:
                  name: dist
                  path: packages/tagscript/dist/
            - name: Use Node.js v20
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 20
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              uses: ./scripts/yarnCache

            - name: Run tests
              run: yarn test -- --coverage

            - name: Upload Coverage
              if: github.repository_owner == 'imranbarbhuiya'
              uses: ./scripts/uploadCoverage
              env:
                  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
