name: NPM Deprecate PR versions On Merge

on:
    pull_request:
        types:
            - closed

jobs:
    deprecate-on-merge:
        name: NPM Deprecate PR versions On Merge
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Project
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
            - name: Use Node.js v20
              uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
              with:
                  node-version: 20
                  cache: yarn
                  registry-url: https://registry.npmjs.org/
            - name: Install Dependencies
              uses: ./scripts/yarnCache
            - name: Build Dependencies
              run: yarn turbo run build --filter=tagscript
            - name: Deprecate versions
              run: yarn npm-deprecate --name "*pr-${PR_NUMBER}*" -d -v
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  PR_NUMBER: ${{ github.event.number }}
